<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}

    {% endblock %}
</head>
<body>
    <h3><ul>
    <li><a class="active" href="/">Start sidan</a></li>
    <li><a href="/signup">Registrera dig</a></li>
        <li><a href="/signin">Logga in</a></li>
        <li><a href="/game_rules">Regler</a></li>
        <li><a href="/games">Spel</a></li>
        <li><a href="/test_games">Provspel</a></li>
    <li><a href="/about">Om oss</a></li>

    </ul></h3>

    <section class="hero is-fullheight">
        {% block content %} {% endblock %}

    </section>

    {% block scripts %} {% endblock %}

     <div class="footer">
         {% block footer %} {% endblock %}
         <p><h1>(c) Lär dig från spel. Av Dreamteam.</h1>
    </div>
</body>
</html>