<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}
    {% endblock %}
</head>
<body>
    <section class="hero is-fullheight">

        <h3><ul style="background-color: purple">
            <li><a class="active" href="{{ url_for ('bp_open.index') }}">Startsida</a></li>
            <li><a href="{{ url_for ('bp_open.rules_get') }}">Förhållningsregler</a></li>
            <li><a href="{{ url_for ('bp_open.about_get') }}">Om Oss</a></li>
            <li><a href="{{ url_for ('bp_games.index') }}">Spel</a></li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for ('bp_user.profile_get', user_id=current_user._id) }}">Din Profil</a></li>
            <li><a href="{{ url_for ('bp_user.friends_get') }}">Vänner</a></li>

            {% if current_user.admin %}
                <li><a href="/admin">Admin</a></li>
            {% endif %}


            <li><a href="{{ url_for ('bp_open.signout') }}">Logga Ut</a></li>
            <li><div class="empty_space"></div></li>
            <li><a class="inloggad_email" href="{{ url_for ('bp_user.profile_get', user_id=current_user._id) }}">Inloggad som: {{ current_user.get_id() }}</a></li>
            <li class="different_hover"><a href="{{ url_for ('bp_open.signout') }}">
                <image class="tumme_upp" src="{{ url_for('static', filename="img/tumme_upp.png") }}"></image>
            </a></li>


        {% else %}
            <li><a href="{{ url_for ('bp_open.signup_get') }}">Registrera Dig</a></li>
            <li><a href="{{ url_for ('bp_open.signin_get') }}">Logga In</a></li>
            <li><a id="utloggad">Utloggad</a></li>
            <li><image class="tumme_ned" src="{{ url_for('static', filename="img/tumme_ned.png") }}"></image></li>


        {% endif %}
        </ul></h3>


        {% block content %}
        {% endblock %}


        {% block scripts %}
        {% endblock %}

        <footer class="footer1">(c)opyright Learning by Games.</footer>
    </section>


{#    <script src="{{  url_for('static', filename='js/listbox.js') }}"></script>#}
{##}
{##}
{#    <script src="{{  url_for('static', filename='js/listbox-scrollable.js') }}"></script>#}
{##}
{##}
{#    <script src="{{  url_for('static', filename='js/utils.js') }}"></script>#}



</body>
</html>