{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">


{% endblock %}


{% block title %}
    Admin: {{ current_user.email }}
{% endblock %}


{% block content %}
    <h1>Du är nu inloggad som admin: {{ current_user.email }}</h1>

<div class="titel">
            <label class="lab" for="aaa">Choose your user:</label>
       </div>

<body>


<form Name="Form1" Method="POST" Action="/admin">
    <div class="boxen">
        <select Name="List1" class="combo_users" size="10" id="myCourses">
           {% for item in listan %}
            <Option name="{{ item }}" value="{{ item }}"> {{ item }}
            {% endfor %}
        </select>

        <div class="buttons">
{#             <button id="shutdown_user" onclick="alert('You have now suspended that user')" ondblclick="myGeeks()">Suspend</button>#}
            <button id="shutdown_user"  ondblclick="myGeeks()">Suspend</button>
            <button id="turn_on_user">Activate</button>
            <button id="list_all_users">List of all users</button>
        </div>
    </div>
</form>


<script>
        function myGeeks() {
            document.getElementById("myCourses").selectedIndex
                    = "";
        }
    </script>



{% endblock %}

{% block scripts %}


{% endblock scripts %}