{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listbox.css') }}">


{% endblock %}


{% block title %}
    Admin: {{ current_user.email }}
{% endblock %}


{% block content %}
<div class="titel">
            <label class="lab" for="aaa">Choose your user:</label>
       </div>


<body>


<form Name="Form1" Method="" Action="">
    <div class="boxen">
        <select Name="List1" class="combo_users" size="10">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
            <Option value="">
        </select>

        <div class="buttons">
            <button id="shutdown_user" onclick="alert('You have now suspended that user')">Suspend</button>
            <button id="turn_on_user">Activate</button>
            <button id="list_all_users">List of all users</button>
        </div>
    </div>
</form>






{% endblock %}

{% block scripts %}


{% endblock scripts %}
