{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

{% endblock %}


{% block title %}
    Admin: {{ current_user.email }}
{% endblock %}


{% block content %}
    <div class="inloggad_text">
    <h1 class="text-email">Du är nu inloggad som admin: {{ current_user.email }}</h1>
    </div>
    <div class="title">
        <label class="lab main-text" for="aaa"></label>
    </div>

    <body>
    <div class="testar">
    <h1>   Hantera användare:</h1>
    </div>

    <form method="POST" action="{{ url_for('bp_admin.admin_post') }}">
        <div class="boxen ">
            <select Name="List1" class="combo_users" size="10" id="s-u">
                {% for item in user_list %}
                    <Option class="text-in-box" id="op1" name="{{ item }}" value="{{ item }}"> {{ item }}
                {% endfor %}
            </select>

            {% set s_a = active_suspend %}
            <div class="buttons">
                {#             <button id="shutdown_user" onclick="alert('You have now suspended that user')" ondblclick="myGeeks()">Suspend</button>#}
                <button id="shutdown_user" class="suspend-btn"

                        onclick="alert('You have now been: {{ s_a }}')" ondblclick="selected_user()">Suspend/Activate User

                </button>

            </div>
        </div>
    </form>



<script>
    function text_color() {
        document.getElementById('op1').style.backgroundColor='purple';
    }
</script>



    <script>
        function selected_user() {
            document.getElementById("s-u").selectedIndex
                = ""

        }
    </script>



{% endblock %}

{% block scripts %}


{% endblock scripts %}