.combo_users {
    margin-bottom: 200px;
    margin-top: 55px;
    margin-left: 38px;
    margin-right: 20px;
    width: 550px;
    color: black;
    font-family: poppins;
    font-size: 20px;
}

.boxen {
    position: absolute;
    border: 1px solid purple ;
    background-color: lightgrey;
    top: 35%;
    left: 35%;
    width: 620px;
    height:400px;

}

.title {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    top: 25%;
    left: 38%;

}

/*.suspend {*/
/*    height: 50px;*/
/*    width: 200px;*/
/*    border-radius: 20%;*/
/*    margin-left: 200px;*/
/*    margin-right: 20px;*/
/*    margin-top: -50px;*/
/*    padding:0px 15px 2px;*/
/*    line-height: 100px;*/

/*}*/

.buttons{
    position: absolute;
    top: 92%;
    left: 97%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;


}




#op {
    color:purple;
}

.timed {
    display:block;
}




.position {
  position: absolute;
  top: 47%;
  left: 43%;
}




/* Popup container */
.popup {
  position: relative;
  /*display: inline-block;*/
  cursor: pointer;
}
