body {
    color: black;
    font-family: Garamond, serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #ababab;
    display: flex;
    flex-direction: column;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
}

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: purple;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: yellow;
}


html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}
.footer1 {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  flex-shrink: 0;
  background-color: purple;
  color: white;
  text-align: center;
}

.tumme_ned {
    position: absolute; top:0; right: 12px;
    /*margin-left: 5px;*/
    margin-top: 10px;
    width: auto;
    border-radius: 50%;
}

#utloggad {
    color: white;
    margin-left: 1050px;
    margin-top: 5px;
    width: auto;

    border-radius: 50%;
}

.tumme_upp{

    position: absolute; top:0; right: 12px;
    /*margin-left: 125px;*/
    /*margin-right: 0;*/
    margin-top: 10px;
    width: auto;
    border-radius: 50%;
}


.inloggad_email {
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    width: auto;

    border-radius: 50%;
}

.empty_link {
    color: white;
    margin-left: 630px;
    margin-top: 5px;
    width: auto;

    border-radius: 50%;
}

.different_hover a:hover{
    background-color:purple;
    position: absolute; top:0; right: 12px;
    margin-top: 10px;
    width: auto;
    border-radius: 50%;
}

