ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: yellow;
}

#utloggad {
    color: white;
    margin-left: 1050px;
    margin-top: 5px;
    width: auto;
    border-radius: 50%;
}

.thumb {
    position: absolute; top:0; right: 12px;
    margin-top: 10px;
    width: auto;
    border-radius: 50%;
}


.inloggad_email {
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    width: auto;
    border-radius: 50%;
}

.empty_space {
    color: white;
    margin-left: 630px;
    margin-top: 5px;
    width: auto;
    border-radius: 50%;
}

.different_hover a:hover{
    background-color:purple;
    position: absolute; top:0; right: 12px;
    margin-top: 10px;
    width: auto;
    border-radius: 50%;
}


.dropbtn {
  background-color: purple;
  color: white;
  font-size: 18px;
  border: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-shadow: 1px 1px 1px #ababab;
    line-height: 1.5;


}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 1;
    background-color: purple;
}

.dropdown-content a {

  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: yellow; color: black }


.navitem {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.a:hover .navitem {
    background-color: yellow;
}

