.section {
    color: #1c1b1b;
    font-family: Garamond, serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #ababab;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
}