.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #1c1b1b;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
}

.profile-pic:hover {
    box-shadow: -3px -3px 7px #000,
        -3px -3px 12px #464646A8,
        3px 3px 7px #000,
        -3px -3px 12px #464646A8;
    transform: scale(1.2);
    transform-origin: center;
}

.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

form input[type="file"] {
          display: none;
          cursor: pointer;
}

.view-profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #1c1b1b;
    transition: all .3s ease;
    text-decoration: none;
    justify-content: center;
}