.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #1c1b1b;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
}

.profile-pic:hover {
    z-index: 10000;
    color: #696969FF;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

form input[type="file"] {
          display: none;
          cursor: pointer;
 }
