{% extends "base.html" %}

{% block title %}Byt Lösenord{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open.css') }}">
{% endblock %}


{% block content %}
<div class="column is-centered">
    <div class="column is-4 is-offset-4">
        <div class="box">
            <form Name="Form1" Method="POST" Action="{{  url_for('bp_open.forgot_password_post', token=token) }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" id="parent_password_1" name="password"
                        placeholder="Skriv ett lösenord" oninput="verifyPassword()" required />
                        <span id="pwd-message"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" id="parent_password_2"
                        placeholder="Upprepa lösenordet" oninput="checkPassword()" required disabled />
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth" type="submit" value="Login">Byt lösenord</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}



{% block scripts %}
    <script>
        function checkPassword() {
            let p1 = document.getElementById("parent_password_1").value;
            let p2 = document.getElementById("parent_password_2").value;

            document.getElementById("register").disabled = p1 !== p2;
        }

        function verifyPassword() {
            let pwdInput = document.getElementById("parent_password_1");
            let pwdMessage = document.getElementById("pwd-message");
            let resultObj = safePassword(pwdInput.value);
            pwdMessage.innerHTML = resultObj.message;
            document.getElementById("parent_password_2").disabled = !resultObj.result;
        }

        function safePassword(inputtxt) {
            let pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,1000}$/;
            let obj = {}

            if (inputtxt.match(pattern)) {
                obj.result = true;
                obj.message = "";
            } else {
                obj.result = false;
                obj.message = "Lösenordet behöver vara 6 tecken långt och innehålla minst " +
                    "1 liten bokstav, 1 stor bokstav och 1 specialtecken."
            }
            return obj;
        }

    </script>
{% endblock %}