{% extends "base.html" %}
{% block title %}Registrera Dig{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/signup" method="POST">
            <div class="field is-grouped">
                <div class="field-label is-medium">
                    <label class="label">Email</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-medium" type="email" name="email" placeholder="Skriv din email" required>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="field-label is-medium">
                    <label class="label">Lösenord</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-medium" type="password" id="parent_password_1"
                               name="password" placeholder="Skriv ett lösenord" required>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="field-label is-medium">
                    <label class="label">Lösenord</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-medium" type="password" id="parent_password_2"
                               placeholder="Upprepa ditt lösenord" onchange="checkPassword()" required>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="field-label is-medium">
                    <label class="label">Födelsedatum</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-medium" style="color:rgb(215,215,215)" type="date" name="birth_date" required>
                    </div>
                </div>
            </div>
            <div class="field-body">
                <button class="button is-medium is-fullwidth"
                id="register" disabled>Registrera</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function checkPassword() {
            let p1 = document.getElementById("parent_password_1").value;
            let p2 = document.getElementById("parent_password_2").value;

            if (p1 === p2) {
                document.getElementById("register").disabled = false;
            }
        }
    </script>
{% endblock %}