{% extends "base.html" %}

{% block title %}Overall High Score{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/high_score.css') }}">
{% endblock %}

{% block content %}

    <div class="column" style="background: #f5ba28">
        <div class="container has-text-centered" style="background: #800080FF; border-radius: 25px;">
            <h1 style="font-family: Helvetica, sans-serif; color: #f1f1f1; text-shadow: 1px 1px 1px #ababab; font-size: 40px;">Här är våra spel</h1>
        </div>
        {% for game in games %}
            <div class="container" style="margin-top: 5%; margin-bottom: 5%">
                <div class="level has-text-centered">
                    <div class="level-item">
                        <div class="container">
                            <div class="level-item bg-title" style="background: rgb(0,0,0);">
                                <h3 style="color: rgb(255,255,255)">{{ game.name }}</h3>
                            </div>
                            <div class="level-item bg-hs" style="background: rgb(0,0,0);">
                                <h3 style="color: rgb(255,255,255)">High Score</h3>
                            </div>
                            <div class="level-item">
                                {% for hs in game.high_score %}
                                    <div class="skill-block" style="background-image: url({{ hs.avatar }})">
                                        <h4>{{ hs.user_id }}</h4>
                                        <h6>{{ hs.score }}</h6>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <a href="{{ url_for('bp_open.index') }}">
                            <img class="picture" src="{{ game.content.main_image }}" border="5px solid #555">
                        </a>
                    </div>
                </div>
                <hr class="bind" style="height:7px; border-radius: 7px 7px 7px 7px "/>
            </div>
        {% endfor %}
    </div>

{% endblock %}
