{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text-blocks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
{% endblock %}

{% block content %}
    <div class="column">
        <div class="container has-text-centered" style="background: #800080FF; border-radius: 25px;">
            <p class="main-text" style="font-size: 40px;">Här är våra spel</p>
        </div>
        {% for game in games %}
            <div class="container" style="margin-top: 5%; margin-bottom: 5%">
                <div class="level">
                    <div class="level-item">
                        <div class="container">
                            <div class="level-item textbox-non-anim top-20 main-text" style="background: rgb(0,0,0);">
                                <h3>{{ game.name }}</h3>
                            </div>
                            <div class="level-item textbox-non-anim bottom-20 main-text" style="background: rgb(0,0,0);">
                                <h3>High Score</h3>
                            </div>
                            <div class="level-item">
                                {% for hs in game.high_score %}
                                    <div class="circle-text-over has-text-centered main-text"
                                         style="background-image: url({{ hs.avatar }}); border-radius: 25px; font-size: 20px;
                                                 width: 150px; height: 150px; color: #1c1b1b;">
                                        <p>{{ hs.user_id }}</p>
                                        <p>{{ hs.score }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <a href="{{ url_for('bp_open.index') }}">
                            <img class="game-img" src="{{ game.content.main_image }}" border="5px solid #555">
                        </a>
                    </div>
                </div>
                <hr class="bind" style="height:7px; border-radius: 7px 7px 7px 7px "/>
            </div>
        {% endfor %}
    </div>
{% endblock %}
