<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/memory_game.css') }}">

    <title>Memory Game</title>
</head>
<body>
    <h1 class="page-title">Memory Game</h1>

{#    <div class="overlay-text visible">
    Click to Start
  </div>
  <div id="game-over-text" class="overlay-text">
    GAME OVER
    <span class="overlay-text-small">Click to Restart</span>
  </div>
  <div id="victory-text" class="overlay-text">
    VICTORY
    <span class="overlay-text-small">Click to Restart</span>
  </div>#}

    <div class="game-container">
        <div class="game-info-container">
            <div class="game-info">
                Tid: <span id="time.remaining">100</span>
            </div>
            <div class="game-info">
                Antal flippade kort: <span id="time.remaining">0</span>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
            <image class="card-value" src="{{ url_for('static', filename="img/kanin.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image class="card-value" src="{{ url_for('static', filename="img/kossa.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image class="card-value" src="{{ url_for('static', filename="img/sköldpadda.jpeg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
{#                <image class="card-value" src="{{ url_for('static', filename="img/" onload="this.onload=null; this.src=function random_item();")}}"></image>#}
{#                <image class="card-value" id="myPicture" src="{{ url_for('static', filename='img/räv.jpg')}}" ></image>#}
                <image id="myPicture" class="card-value" src="{{ url_for('static', filename="img/sköldpadda.jpeg") }} "></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image class="card-value" src="{{ url_for('static', filename="img/mus.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image class="card-value" src="{{ url_for('static', filename="img/flodhäst.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <h2 class="word"> Kanin</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">

            </div>
        </div>
    </div>
{#     <script src="{{ url_for('static', filename="js/memory_game.js") }}"></script>#}
<script>
    window.onload = choosePic;

    var myPix = ["/static/img/mus.jpg","/static/img/kanin.jpg","/static/img/kossa.jpg"];

function choosePic() {
    var randomNum = Math.floor(Math.random() * myPix.length);
    document.getElementById("myPicture").src = myPix[randomNum];

}


</script>
</body>
</html>

