<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/memory_game.css') }}">

    <title>Memory Game</title>
</head>
<body>
    <h1 class="page-title">Memory Game</h1>

{#    <div class="overlay-text visible">
    Click to Start
  </div>
  <div id="game-over-text" class="overlay-text">
    GAME OVER
    <span class="overlay-text-small">Click to Restart</span>
  </div>
  <div id="victory-text" class="overlay-text">
    VICTORY
    <span class="overlay-text-small">Click to Restart</span>
  </div>#}

    <div class="game-container">
        <div class="game-info-container">
            <div class="game-info">
                Tid: <span id="time.remaining">100</span>
            </div>
            <div class="game-info">
                Antal flippade kort: <span id="time.remaining">0</span>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
            <image id = "picture1" class="card-value" src="{{ url_for('static', filename="img/kanin.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image id = "picture2" class="card-value" src="{{ url_for('static', filename="img/kossa.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image id = "picture3" class="card-value" src="{{ url_for('static', filename="img/sköldpadda.jpeg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
{#                <image class="card-value" src="{{ url_for('static', filename="img/" onload="this.onload=null; this.src=function random_item();")}}"></image>#}
{#                <image class="card-value" id="myPicture" src="{{ url_for('static', filename='img/räv.jpg')}}" ></image>#}
                <image id = "picture4"  class="card-value" src="{{ url_for('static', filename="img/sköldpadda.jpeg") }} "></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image id = "picture5" class="card-value" src="{{ url_for('static', filename="img/mus.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <image id = "picture6" class="card-value" src="{{ url_for('static', filename="img/flodhäst.jpg") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
                <h2 id="card1" class="word"> Kanin</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
             <h2 id="card2"></h2>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
               <h2 id="card3"></h2>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
            <h2 id="card4"></h2>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
            <h2 id="card5"></h2>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/barn.jpg") }}"></image>
            </div>
            <div class="card-front card-face2">
            <h2 id="card6"></h2>
            </div>
        </div>
    </div>

    {# Here's the link src to the JS file #}
    {# <script src="{{ url_for('static', filename="js/memory_game.js") }}" async ></script> #}


<script>
    window.onload = choosePicWord;

    var cards = ["card1", "card2", "card3", "card4", "card5", "card6"]

    var picture = ["picture1", "picture2", "picture3", "picture4", "picture5", "picture6"]

    var myPix = ["/static/img/mus.jpg","/static/img/kanin.jpg","/static/img/kossa.jpg",
        "/static/img/flodhäst.jpg", "/static/img/räv.jpg", "/static/img/sköldpadda.jpeg"];

    var myWord = ["Kanin", "Kossa", "Mus", "Flodhäst", "Räv", "Sköldpadda"];

function choosePicWord() {

    for (let x = 0; x < 6; x++){
        var randomNum2 = Math.floor(Math.random() * myWord.length);
        for (let i = 0; i < myWord.length; i++) {


        let slump = myWord[randomNum2]

            if (myWord[i] === slump) {
            document.getElementById(cards[x]).innerHTML = myWord[i];
            myWord.splice(randomNum2, 1);

            }



}}
    for (let x = 0; x < 6; x++){
            var randomNum = Math.floor(Math.random() * myPix.length);
            for (let i = 0; i < myPix.length; i++) {

            let slump = myPix[randomNum]

                if (myPix[i] === slump) {
                document.getElementById(picture[x]).src = myPix[randomNum];
                myPix.splice(randomNum, 1);
            }





}}}


</script>



</body>
</html>

