{% extends "base.html" %}
{% block title %}A-Maze-Ing-Game{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maze.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text-blocks.css') }}">
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4 has-text-centered">
    <div class="level">
        <div class="level-item textbox-non-anim main-text bottom-20 top-20 has-text-centered" style="background-color: #f5ba28; color: #234400; height: 80px; width:200px; margin: 5%;">
            <span id="time"></span>
        </div>
        <div class="level-item textbox-non-anim main-text bottom-20 top-20 has-text-centered" style="background-color: #f5ba28; color: #234400; height: 80px; width:200px; margin: 5%;">
            <span id="points">{{ points }} poäng</span>
        </div>
    </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if 'Rätt' in message %}
                        <div class="textbox-anim main-text top-20 bottom-20" style="background-color: limegreen">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="textbox-anim main-text top-20 bottom-20" style="background-color: darkred">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="textbox-non-anim main-text top-20 bottom-20" style="background-color: #376907; margin-top: 5%; margin-bottom: 5%;">
                    A-Maze-Ing Game
                </div>
            {% endif %}
        {% endwith %}

        <div class="textbox-non-anim main-text bottom-20 top-20" style="background-color: #376907; height: 80px; margin-top: 5%;">
            <h3>{% for item in current_location.math_problem %}{{ item }} {% endfor %}=</h3>
        </div>
        <form id="maze" action="{{ url_for('bp_games.maze_post') }}" method="POST">
            <div class="container main-text bottom-20 top-20" style=" margin: 5%; border: 1px solid #376907;">
                    <button class="main-text button-maze textbox-anim top-20 bottom-20" type="submit" name="direction" value="north" style="background-color: #4D3617FF; margin-top: 10%;">{{ current_location.answers[0] }}</button>
                <br>
                    <button class="main-text button-maze textbox-anim top-20 bottom-20" type="submit" name="direction" value="west" style="background-color: #4D3617FF; margin-right: 70px; margin-left: 10%;">{{ current_location.answers[3] }}</button>
                    <button class="main-text button-maze textbox-anim top-20 bottom-20" type="submit" name="direction" value="east" style="background-color: #4D3617FF; margin-left: 70px; margin-right: 10%;">{{ current_location.answers[2] }}</button>
                <br>
                    <button class="main-text button-maze textbox-anim top-20 bottom-20" type="submit" name="direction" value="south" style="background-color: #4D3617FF; margin-bottom: 10%;">{{ current_location.answers[1] }}</button>
                    <input name="timer" id="timer" hidden>
            </div>
        </form>
        <div class="container">
            <button onclick="showMap()">Visa Karta</button>
            <div id="map" style="margin: 20%; background-color: #f5ba28; width: 300px; height: 300px;" hidden><img src="{{ url_for('static', filename='img-game/maze.svg') }}"></div>
        </div>
    </div>

    {% block scripts %}
        <script>
            let startTimer = new Date().getTime() + {{ time_remaining }};
            let x = setInterval(function() {
                let currentTime = new Date().getTime();
                let timer = startTimer - currentTime;

                let minutes = Math.floor((timer % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((timer % (1000 * 60)) / 1000);

                document.getElementById("time").innerHTML = "0" + minutes + " : " + seconds;

                if (timer < 0) {
                    clearInterval(x);
                    document.getElementById("time").innerHTML = "Tiden är slut!"
                }

                document.getElementById("maze").onsubmit = function() {
                    document.getElementById("timer").value = timer;
                }
            }, 1000);

            function showMap () {
                document.getElementById("map").hidden = !document.getElementById("map").hidden;
            }
        </script>
    {% endblock %}
{% endblock %}
