{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


<div class="card">
    <div class="text">
        {{ card['text'] }}
    </div>
    <div class="text2">
        {{ card['question'] }}

    </div>
        <hr style="border-top: 3px solid; color:purple">
    <div class="buttons" style="-ms-transform: translateY(-50%);transform: translateY(-50%); position: absolute">

        <form Name="Form1" id="Form1" Method="POST" Action="{{  url_for('bp_games.read_swe_post')  }}">
        <div id="btn1"><button class="button1" value="right" name="option" type="submit" >{{ card['answer'] }}</button></div>
        <button class="button1" value="wrong" id="btn2" name="option" type="submit" >{{ card['answer1'] }}</button>
        <div id="btn3"> <button class="button1" value="wrong"  name="option" type="submit" >{{ card['answer2'] }}</button></div>
        </form>

    </div>
</div>

<script>
document.getElementById('btn2').addEventListener('load', () => {
  const btn1 = document.getElementById('btn1');
  const btn3 = document.getElementById('btn3');
  btn3.appendChild(btn1.firstElementChild);
  btn1.appendChild(btn3.firstElementChild);
});

</script>


{% endblock %}