{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if 'ett' in message %}
                <div class="message" style="background-color: green">
                    {{ message }}
                </div>
                {% else %}
                <div class="message" style="background-color: red">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="points">
        <h1 style="font-size: 20px">Dina poäng är: {{ points }}</h1>
    </div>
<div class="card">
    <div class="text">
        {{ card['text'] }}
    </div>
    <div class="text2">
        {{ card['question'] }}

    </div>
        <hr style="border-top: 3px solid; color:purple">
    <div class="buttons" style="-ms-transform: translateY(-50%);transform: translateY(-50%); position: absolute">

        <form Name="Form1" id="Form1" Method="POST" Action="{{  url_for('bp_games.read_swe_post')  }}">
            {% for answer in answers %}
                <button class="button1" value="{{ 'right' if answer['correct'] else 'wrong' }}" id="btn1" name="option" type="submit" >{{ answer['alternative'] }}</button>
            {% endfor %}
{#        <button class="button1" value="right" id="btn1" name="option" type="submit" >{{ card['answer'] }}</button>#}
{#        <button class="button1" value="wrong" id="btn2" name="option" type="submit" >{{ card['answer1'] }}</button>#}
{#        <button class="button1" value="wrong" id="btn3"  name="option" type="submit" >{{ card['answer2'] }}</button>#}
        </form>

    </div>
</div>




{% endblock %}