<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/test-memo.css') }}">
    <script src="/static/js/test-memo.js" async></script>
  <title>Memory Spel</title>
</head>
<body>
  <h1 class="page-title">Memory Spel</h1>
  <div class="big-text visible">
      <span class="restart-text-small">Klicka Här För Att</span>
    Starta Spelet
  </div>
  <div id="game-over-text" class="big-text">
    Du Förlorade...
    <span class="restart-text-small">Starta Om Spelet</span>
  </div>
  <div id="victory-text" class="big-text">
    Du Vann!
    <span class="restart-text-small">Starta Om Spelet</span>
  </div>

  <div class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        Tid <span id="time-remaining">100</span>
      </div>
      <div class="game-info">
        Poäng <span id="flips">0</span>
      </div>
    </div>

        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">
            <image class="card-value" src="{{ url_for('static', filename="img/bear1.png") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">
            <image class="card-value" src="{{ url_for('static', filename="img/fox.png") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">
            <image class="card-value" src="{{ url_for('static', filename="img/Koala.png") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">
            <image class="card-value" src="{{ url_for('static', filename="img/pingvin.png") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">
            <image class="card-value" src="{{ url_for('static', filename="img/rabbit.png") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">

            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">
            <image class="card-value" src="{{ url_for('static', filename="img/rat.png") }}"></image>
            </div>
        </div>
        <div class="card">
            <div class="card-back card-face">
           <image class="pink-bear" src="{{ url_for('static', filename="img/61f2b9927b8b30662bb44ada_main.png") }}"></image>
            </div>
            <div class="card-front card-face">

            </div>
        </div>
    </div>

{#<script src="{{ url_for('static', filename="js/test-memo.js") }}" async></script>#}

</body>
</html>
