{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<section>
<div>
    <div class="container has-text-centered"  style="background-color: purple; width: 400px; height: 70px; color: white; right: 40%; top: 15%; position: absolute;border-radius: 25px; align-content: center;line-height: 70px;">
        <h1>Dina vänner</h1>
    </div>
    <div class="" style="right: 35%; top: 22%; position: absolute; width: 600px; height: 600px;">

         {% for friend in friends %}
                <div class="chip">
                    <a href="{{ url_for('bp_user.view_profile_get', user_id=friend['_id']) }}">
                        <img src="{{ friend['image'] }}" alt="Person" width="192" height="192">
                    </a>
                    <span style="color: rgb({{ friend['colors'][0] }}, {{ friend['colors'][1] }}, {{ friend['colors'][2] }})">{{ friend['name'] }}</span>
                </div>
        {% endfor %}

    </div>
</div>
</section>

{% endblock %}