{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text-blocks.css') }}">
{% endblock %}

{% block content %}
    <div class="">
        <div class="has-text-centered textbox-non-anim main-text bottom-20 top-20" style="background-color: purple; width: 400px; height: 70px; right: 40%; top: 15%; position: absolute; align-content: center;line-height: 70px;">Dina vänner</div>
        <div class="container" style="right: 35%; top: 22%; position: absolute; width: 600px; height: 600px;">
             {% for friend in friends %}
                    <div class="circle-text-aside main-text">
                        <a href="{{ url_for('bp_user.view_profile_get', user_id=friend['_id']) }}">
                            <img src="{{ friend['image'] }}" alt="Person" width="192" height="192">
                        </a>
                        <span style="color: rgb({{ friend['colors'][0] }}, {{ friend['colors'][1] }}, {{ friend['colors'][2] }})">{{ friend['name'] }}</span>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}