{% extends "base.html" %}


{% block title %}
{#    {% if current_user.parent %}#}
{#        {{ user.display_name.upper() }}s Profil#}
{#    {% else %}#}
{#        {{ user.username.upper() }}s Profil#}
{#    {% endif %}#}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text-blocks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
{% endblock %}

{% block content %}
<div class="column">
    <div class="container" style="margin-top: 5%; margin-bottom: 5%">
        <div>
            {% if user._id in current_user.friends %}
                <p class="add-friend">Ni Är Vänner</p>
            {% else %}
                <form action="{{ url_for('bp_user.view_profile_get', user_id=user._id) }}" method="post">
                    <button class="add-friend" name="add-friend" type="submit">Lägg Till Vän</button>
                </form>
            {% endif %}
        </div>
        <div class="level has-text-centered">
            <div class="level-item">
                <img class="view-profile-pic" src="{{ profile_picture }}" border="5px solid #555">
            </div>
            <div class="level-item" style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; ">
                <div class="container">
                    <div class="level-item main-text textbox-non-anim top-20" style="background-color: rgb({{ user.settings.rgb_title[0] }}, {{ user.settings.rgb_title[1] }}, {{ user.settings.rgb_title[2] }});">
                        {% if user.parent %}
                            <h3>{{ user.display_name }}</h3>
                        {% else %}
                            <h3>{{ user.username }}</h3>
                        {% endif %}
                    </div>
                    <div class="level-item main-text textbox-non-anim bottom-20" style="background-color: rgb({{ user.settings.rgb_subtitle[0] }}, {{ user.settings.rgb_subtitle[1] }}, {{ user.settings.rgb_subtitle[2] }});" >
                        <h3>Högsta Spelpoäng</h3>
                    </div>
                                        <div class="level-item">
                        {% set i = namespace(value=0) %}
                        {% for game in games %}
                            <a class="circle-text-over main-text" href="{{ url_for('bp_games.game_description_get', game_id=game['_id']) }}" style="background-image: url({{ game.content.main_image }});
                                    color: rgb({{ game.content.rgb_text[0] }}, {{ game.content.rgb_text[1] }}, {{ game.content.rgb_text[2] }});">
                                    <p><strong>{{ game.name }}</strong></p>
{#                                    <p><strong>{{ i.value }}p</strong></p>#}
                                    <p><strong>{{ user.personal_high_score[i.value]['score'] }}p</strong></p>
                            </a>
                            {% set i.value = i.value + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.parent %}
        <hr class="bind"/>
        <div class="container" style="margin-top: 5%; margin-bottom: 5%">
            <div  class="level-item">
                <div class="container">
                    <div class="level-item main-text textbox-non-anim top-20" style="background-color: rgb({{ user.settings.rgb_title[0] }}, {{ user.settings.rgb_title[1] }}, {{ user.settings.rgb_title[2] }})" >
                        <h2><a style="color: #f1f1f1;" href="mailto:someone@example.com" title="Kontakta Mig">{{ user.email }}</a></h2>
                    </div>
                    <div class="level-item main-text textbox-non-anim bottom-20" style="background-color: rgb({{ user.settings.rgb_subtitle[0] }}, {{ user.settings.rgb_subtitle[1] }}, {{ user.settings.rgb_subtitle[2] }})">
                        <h6>Registrerade barn</h6>
                    </div>
                    <div class="level-item">
                        {% for child in children %}
                            <div class="circle-text-aside main-text">
                                <a href="{{ url_for('bp_user.view_profile_get', user_id=child['_id']) }}"><img src="{{ child['avatar'] }}" alt="Person" width="192" height="192"></a>
                                <span>{{ child['username'] }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
