{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_picture.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color-picker.css') }}">
{% endblock %}

{% block content %}
<div class="column" style="background-color: #89d23d">
    <div class="container" style="margin-top: 5%; margin-bottom: 5%">
        <div class="level has-text-centered">
            <div class="level-item">
                <form action="{{ url_for('bp_user.profile_get', user_id=current_user._id) }}" method="post" enctype="multipart/form-data">
                    <label for="fileToUpload">
                        <img class="profile-pic" id="profile-pic" src="{{ profile_picture }}" title="Ändra Bild">
                    </label>
                    <input type="file" name="profile_picture" id="fileToUpload" oninput="showButton()">
                    <input type="submit" id="button" value="Ladda Upp" name="submit" hidden>
                </form>
            </div>
            <div class="level-item" style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
                <div class="container">
                    <div class="level-item bg-title" onclick="get_color_bar(this)" id="title" title="Tryck För Att Byta Färg"
                         style="background-color: rgb({{ current_user.settings.rgb_title[0] }}, {{ current_user.settings.rgb_title[1] }}, {{ current_user.settings.rgb_title[2] }});">
                        {% if current_user.parent %}
                            <h3>{{ current_user.display_name }}</h3>
                        {% else %}
                            <h3>{{ current_user.username }}</h3>
                        {% endif %}
                    </div>
                    <div class="level-item bg-hs" onclick="get_color_bar(this)" id="sub-title" title="Tryck För Att Byta Färg"
                         style="background-color: rgb({{ current_user.settings.rgb_subtitle[0] }}, {{ current_user.settings.rgb_subtitle[1] }}, {{ current_user.settings.rgb_subtitle[2] }});" >
                        <h3>Dina Högsta Poäng</h3>
                    </div>
                    <div class="level-item">
                        <div class="skill-block" style="background-image: url({{ url_for('static', filename='img/father2.png') }}); color: bisque;">
                            <h4>90p</h4>
                            <h6>Spel 1</h6>
                        </div>
                        <div class="skill-block" style="background-image: url({{ url_for('static', filename='img/father3.png') }}); color: bisque;">
                            <h4>70p</h4>
                            <h6>Spel 2</h6>
                        </div>
                        <div class="skill-block" style="background-image: url({{ url_for('static', filename='img/father4.png') }}); color: bisque;">
                            <h4>80p</h4>
                            <h6>Spel 3</h6>
                        </div>
                        <div class="skill-block" style="background-image: url({{ url_for('static', filename='img/father5.png') }}); color: bisque;">
                            <h4>75p</h4>
                            <h6>Spel 4</h6>
                        </div>
                        <div class="skill-block" style="background-image: url({{ url_for('static', filename='img/father6.png') }}); color: bisque;">
                            <h4>10p</h4>
                            <h6>Spel 5</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if current_user.parent %}
        <hr class="bind"/>
        <div class="container" style="margin-top: 5%; margin-bottom: 5%">
            <div  class="level-item">
                <div class="container">
                    <div class="level-item bg-email" style="background-color: rgb({{ current_user.settings.rgb_title[0] }}, {{ current_user.settings.rgb_title[1] }}, {{ current_user.settings.rgb_title[2] }})" >
                        <h2><a style="color: #f1f1f1;" href="mailto:someone@example.com" title="Kontakta Mig">{{ current_user.email }}</a></h2>
                    </div>
                    <div class="level-item bg-child" style="background-color: rgb({{ current_user.settings.rgb_subtitle[0] }}, {{ current_user.settings.rgb_subtitle[1] }}, {{ current_user.settings.rgb_subtitle[2] }})">
                        <h6>Registrerade Barn</h6>
                    </div>
                    <div class="level-item">
                        {% for child in children %}
                            <div class="chip">
                                <a href="{{ url_for('bp_user.view_profile_get', user_id=child['_id']) }}"><img src="{{ child['avatar'] }}" alt="Person" width="192" height="192"></a>
                                <span>{{ child['username'] }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="color-bar" id="color_bar" hidden>
    <form action="{{ url_for('bp_user.profile_get', user_id=current_user._id) }}" method="post" >
        <input type="text" id="red" name="red" />
        <input type="text" id="green" name="green" />
        <input type="text" id="blue" name="blue" />
        <input type="submit" id="form_color" name="" class="submit_color" value="Spara" />
    </form>
</div>


{% endblock %}

{% block scripts %}
    <script src="{{  url_for('static', filename='js/color_picker.js') }}"></script>
    <script>
        let box = undefined
        function get_color_bar(e) {
            box = e;
            document.getElementById("form_color").name = e.id;
            document.getElementById("color_bar").hidden = !document.getElementById("color_bar").hidden;
        }
    </script>
    <script>
        function changeColor() {
            document.getElementById("")
            src = {{ url_for('static', filename='css/color-picker.css') }}
        }
    </script>
    <script>
        function showButton() {
            document.getElementById("button").hidden = !document.getElementById("button").hidden;
        }
    </script>
{% endblock %}
