{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}


{% block title %}
    Parent Admin: {{ current_user.email }}
{% endblock %}


{% block content %}


    <div class="titel">
        <label class="title" for="aaa">Välj barn att hantera</label>
    </div>





        <div  class="boxen">
            <form Name="Form1" Method="POST" Action="{{  url_for('bp_parent.control_child')  }}">
            <select Name="List1" class="combo_users" size="10" id="myCourses">
                {% for item in listan %}
                    <Option id="op1" name="{{ item }}" value="{{ item }}"> {{ item }}
                {% endfor %}
            </select>
                <div class="buttons">

                        {% set s_a = active_suspend %}
                        <button class="popup" style=" right:146px;" onclick="alert('You have now been: {{ s_a }}')" ondblclick="parent_admin()">Suspend/activate user
                        </button>

                    </div>
                </form>
                <div class="buttons">
                <button class="popup" onclick="myFunction();" >set time</button>
                </div>
                </div>
            </div>


    <div class="position" id="myPopup" style="border: 1px purple solid; background-color: lightgrey" hidden>
    <div style=" height: 50px; width:230px; border-bottom: 1px solid purple;">välj start och slut tid när barnet inte
        har tillgång till hemsidan</div>

        <form Name="List2" Method="POST" Action="{{ url_for('bp_parent.control_child') }}">
            <div style="float: left; margin-right: 20px;">
                <label class="timed"  for="start" style="text-align: center">Start</label><input class="timed"  id="start" name="start" type="time"/>
            </div>
            <div style="float: left; margin-right: 20px;">
                <label class="timed"  for="end" style="text-align: center">Slut</label><input class="timed"  id="end" name="end" type="time"/>
            </div>
            <button style="margin-top: 25px">Spara</button>
            <div hidden>
            <label for="txt1"></label><input class="input is-large" type="text" name="t1" id="txt1" onclick="check" >
            </div>
        </form>
    </div>


<

<script>
    // Script to put the txt from the combobox to the hidden textbox
    // that lets us request from that instead.
    let select = document.getElementById('myCourses');
    let input = document.getElementById('txt1');
    select.onchange = function() {
    input.value = select.value;
}
</script>

<script>
    function myFunction() {
      document.getElementById("myPopup").hidden = !document.getElementById("myPopup").hidden;

    }
</script>


<script>
    function text_color() {
        document.getElementById('op1').style.backgroundColor='purple';
    }
</script>



<script>
    function parent_admin() {
        document.getElementById("myCourses").selectedIndex
            = ""
    }
</script>
{% block scripts %}
{% endblock scripts %}

{% endblock %}











