{% extends "base.html" %}
{% block title %}Parent_control{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parent.css') }}">
{% endblock %}
{% block content %}

    <div class="popup" onclick="myFunction()"> click me
    </div>
    <div class="position" id="myPopup">

        <form action="{{ url_for('bp_parent.control_get', user_id=None)}}" method="post">
            <div style="float: left; margin-right: 20px;">
                <label class="timed"  for="start" style="text-align: center">Start</label><input class="timed"  id="start" name="start" type="time"/>
            </div>
            <div style="float: left; margin-right: 20px;">
                <label class="timed"  for="end" style="text-align: center">Slut</label><input class="timed"  id="end" name="end" type="time"/>
            </div>
        </form>
    </div>

{% endblock %}


{% block scripts %}

    <script>
function myFunction() {
  document.getElementById("myPopup").hidden = !document.getElementById("myPopup").hidden;

}

</script>

{% endblock %}