{% extends "base.html" %}

{% block head %}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parent.css') }}">
{% endblock %}


{% block title %}
    Parent Admin: {{ current_user.email }}
{% endblock %}


{% block content %}
{#   <section class="hero is-fullheight">#}
    <div class="hantera_barn" id="hantera_barn_id">Hantera Barn</div>

    <div class="titel">
        <label class="title" for="aaa"></label>
    </div>
        <div  class="boxen">

            <form Name="Form1" Method="POST" Action="{{  url_for('bp_parent.control_child_get')  }}">

            <select Name="List1" class="combo_users" size="10" id="myCourses">
                {% for item in listan %}
                    <Option id="op1" name="{{ item }}" value="{{ item }}"> {{ item }}
                {% endfor %}
            </select>
                <div class="buttons">

                        {% set s_a = active_suspend %}
                    <div class="suspend_btn" id="suspend_btn_id">
                        <button class="popup suspend_btn" style=" right:146px;" onclick="alert('You have now been: {{ s_a }}')" ondblclick="parent_admin()">Suspend/activate user
                        </button>
                    </div>

                </div>
            </form>
                <div class="buttons">
                    <div class="set_time_btn" id="set_time_btn_id">
                <button class="popup set_time_btn" onclick="myFunction();">set time</button>
                    </div>
                </div>

                </div>




    <div class="position" id="myPopup" hidden>
    <div>Välj start och slut tid när barnet inte
        har tillgång till hemsidan</div>

        <form Name="List2" Method="POST" Action="{{ url_for('bp_parent.control_child_get') }}">
            <div style="float: left; margin-right: 20px;">
                <div class="time_start">
                <label class="timed"  for="start" style="text-align: center">Start</label><input class="timed"  id="start" name="start" type="time"/>
                </div>
            </div>
            <div style="float: left; margin-right: 20px;">
                <div class="time_slut">
                <label class="timed"  for="end" style="text-align: center">Slut</label><input class="timed"  id="end" name="end" type="time"/>
            </div>
            </div>
            <button class="save_btn">Spara</button>
            <div hidden>
            <label for="txt1"></label><input class="input is-large" type="text" name="t1" id="txt1" onclick="check" >
            </div>
        </form>
    </div>

{#    </section>#}


<script>
    // Script to put the txt from the combobox to the hidden textbox
    // that lets us request from that instead.
    let select = document.getElementById('myCourses');
    let input = document.getElementById('txt1');
    select.onchange = function() {
    input.value = select.value;
}
</script>

<script>
    function myFunction() {
      document.getElementById("myPopup").hidden = !document.getElementById("myPopup").hidden;

    }
</script>


<script>
    function text_color() {
        document.getElementById('op1').style.backgroundColor='purple';
    }
</script>



<script>
    function parent_admin() {
        document.getElementById("myCourses").selectedIndex
            = ""
    }
</script>
{% block scripts %}
{% endblock scripts %}

{% endblock %}











