{% extends "base.html" %}
{% block title %}Parent_control{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parent.css') }}">
{% endblock %}
{% block content %}

    <div class="popup" onclick="myFunction()"> click me
    </div>


    <div id="myPopup">
        <form action="{{ url_for('bp_parent.control_get', user_id=None)}}" method="post">
            <div style="float: left; margin-right: 20px;">
                <label for="start">Start</label><input id="start" name="start" type="time"/>
            </div>
            <div style="float: left; margin-right: 20px;">
                <label for="end">End</label><input id="end" name="end" type="time"/>
            </div>
        </form>
    </div>




{% endblock %}


{% block scripts %}

    <script>
function myFunction() {
  document.getElementById("myPopup").hidden = !document.getElementById("myPopup").hidden;

}

</script>

{% endblock %}